.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log
cypress/downloads
src/components.d.ts
vite.config.ts.timestamp-*.mjs
src/**/.*.vue.swm
src/**/.*.vue.swo
src/**/.*.vue.swp
